@import "../../base";

.applications{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding: 10px;
    .heading{
        color: $white;
        text-align: center;
        font-weight: 400;
        font-size: 2rem;
    }
    .stepsWrapper{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .arrow{
            transform: rotate(-90deg) translateY(40%);
            width: 50px;
            object-fit: contain;
        }
        .invert{
            margin-top: 2rem;
            transform: rotate(-90deg) translateY(40%) scaleX(-100%);
        }
    }
    .button{
        color: $white;
        width: 200px;
        height: 60px;
        overflow: hidden;
        background: $linearGradient;
        font-size: 0.8rem;
        font-weight: 500;
        clip-path: polygon(
          0% 30%,
          20% 0,
          100% 0,
          100% 30%,
          100% 70%,
          80% 100%,
          10% 100%,
          0% 100%,
          0% 30%
        );
        box-shadow: inset 0 0 10px #ff6fc9;
        border-radius: 5px;
        margin-bottom: 2rem;
    }
}

@media (max-width: 600px) {
    .applications{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        height: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        margin-top: 2rem;
        .heading{
            color: $white;
            text-align: center;
            font-weight: 400;
            font-size: 1.2rem;
        }
        .stepsWrapper{
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            .arrow{
                transform: rotate(-90deg) translateY(40%);
                width: 50px;
                object-fit: contain;
            }
            .invert{
                margin-top: 2rem;
                transform: rotate(-90deg) translateY(40%) scaleX(-100%);
            }
            &:nth-child(3){
                grid-area: 1 / 1 / 2 / 3; 
            }
        }
        .button{
            color: $white;
            width: 200px;
            height: 60px;
            overflow: hidden;
            background: $linearGradient;
            font-size: 0.8rem;
            font-weight: 500;
            clip-path: polygon(
              0% 30%,
              20% 0,
              100% 0,
              100% 30%,
              100% 70%,
              80% 100%,
              10% 100%,
              0% 100%,
              0% 30%
            );
            box-shadow: inset 0 0 10px #ff6fc9;
            border-radius: 5px;
            margin-bottom: 2rem;
        }
    }
}